body {
    display: flex;
}
#game_area {
    margin-top: 0px;
    margin-left: 20px;
}
#window {
    background-color: white;   
    border-left: solid 5px black;
    aspect-ratio: 1/1;
}

#instructions {
    line-height: 1.8;    
}

@media (orientation : portrait) {
    #window {
        width: 60vw;    
    }
} 

@media (orientation : landscape) {
    #window {
        height: 86vh;    
    }
} 