body {
    display: flex;
}
#game_area {
    margin-top: 0px;
    margin-left: 20px;
}
.window { 
    border-left: solid 5px black;
    aspect-ratio: 1/1;
    position: relative;
}
#layer_top {
    background-color: transparent;
}
#layer_bottom{
    position: absolute;
}

#instructions {
    line-height: 1.8;    
    width: 52vw;
}

@media (orientation : portrait) {
    body {
        flex-direction: column;
    }
    h1 {
        font-size: 8vw;
    }
    button {
        font-size: 4vw;
        margin: 1vw;
    }
    #instructions {
        font-size: 4vw;
        width: 80vw;
    }
    .window {
        width: 90vw;    
    }
} 

@media (orientation : landscape) {
    .window {
        height: 86vh;    
    }
} 
