body {
    display: flex;
}
#game_area {
    margin-top: 0px;
    margin-left: 20px;
}
.window { 
    border-left: solid 5px black;
    aspect-ratio: 1/1;
    position: relative;
}
#layer_top {
    background-color: transparent;
}
#layer_bottom{
    position: absolute;
}

#instructions {
    line-height: 1.8;    
    width: 40vw;
}

@media (orientation : portrait) {
    .window {
        width: 60vw;    
    }
} 

@media (orientation : landscape) {
    .window {
        height: 86vh;    
    }
} 